{% extends "my_portfolio/base_without_login_check.html" %}

{% block content %}

{% if form.errors %}
<p>El nombre de usuario y la contraseña no coinciden. Por favor, intentar de nuevo.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Tu cuenta no tiene permisos para ver esta página, ingresá con una cuenta que los tenga.</p>
    {% else %}
    <p>Por favor, ingresá para ver esta página.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'my-portfolio:login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">
</form>

<p><a href="{% url 'my-portfolio:user_create' %}">Registrarse</a></p>
<p><a href="{% url 'my-portfolio:password_reset' %}">Olvidé mi contraseña</a></p>

{% endblock %}