th, td {
    text-align: center;
    border: 1px solid black;
    font-family: Helvetica, sans-serif;
    padding-right: 10px;
    padding-left: 10px;
}

th {
    /*background-color: #008fb3;*/
    background-color: #097b8c;
    color: aliceblue;
    font-size: 110%;
    border: 2px solid black;
}

td.num {
    padding-right: 15px;
    text-align: right;
}

td.num-gray {
    padding-right: 15px;
    text-align: right;
    color: lightgray;
}


td.num-red {
    padding-right: 15px;
    text-align: right;
    color: darkred;
}

td.num-green {
    padding-right: 15px;
    text-align: right;
    color: darkgreen;
}

td.num-bold {
    padding-right: 15px;
    text-align: right;
    font-weight: bold;
}

td.num-bold-red {
    padding-right: 15px;
    text-align: right;
    font-weight: bold;
    color: darkred;
}

td.num-bold-green {
    padding-right: 15px;
    text-align: right;
    font-weight: bold;
    color: darkgreen;
}

td {
    padding-right: 15px;
    text-align: center;
}

table.form {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 5px 15px;
}

table.centered {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-collapse: collapse;
}

div.centered {
    margin-left: auto;
    margin-right: auto;
}

button.primary {
    font-weight: bold;
}

a:link {
    color: darkblue;
    font-weight: bold;
}

a:visited {
    color: darkblue;
}

a:hover {
    color: blue;
}