th, td {
    text-align: center;
    border: 1px solid black;
    font-family: Helvetica, sans-serif;
    padding-right: 10px;
    padding-left: 10px;
}

th {
    background-color: #008fb3;
    color: aliceblue;
    font-size: 110%;
    border: 2px solid black;
}

td.num {
    padding-right: 15px;
    text-align: right;
}

td.num-bold {
    padding-right: 15px;
    text-align: right;
    font-weight: bold;
}

td {
    padding-right: 15px;
    text-align: center;
}

table.centered {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-collapse: collapse;
}