{% extends 'my_portfolio/base_without_login_check.html' %}
{% block navbar %}
    <div class="navbar">
        {% for menu_item in menu_items %}
            {% if not menu_item.items %}
                <a href="{% url menu_item.view_name %}">{{ menu_item.title }}</a>
            {% else %}
                <div class="dropdown">
                    {% if menu_item.view_name %}
                        <a href="{% url menu_item.view_name %}" class="dropbtn">
                            {{ menu_item.title }}
                            <i class="fa fa-caret-down"></i>
                        </a>
                    {% else %}
                        <a class="dropbtn">
                            {{ menu_item.title }}
                            <i class="fa fa-caret-down"></i>
                        </a>
                    {% endif %}
                    <div class="dropdown-content">
                        {% for sub_item in menu_item.items %}
                            {{ sub_item.html | safe }}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div>
            <a href="{% url 'my-portfolio:user_configuration_update' %}">{{ user.username }}</a>
        </div>
    </div>
{% endblock %}

{% block base_content %}
    {% if user.is_authenticated %}
        {% block content %}{{ block.super }}{% endblock %}
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'my-portfolio:login' %}">Log In</a>
    {% endif %}
{% endblock %}