{% extends 'my_portfolio/base.html' %}
{% block title %}Importar Ingresos/Egresos{% endblock %}

{% block content %}
    <form action="">
        <div>
            <label for="id_from_date">Fecha Desde:</label>
            <input type="date" name="from_date" id="id_from_date" value="{{ request.GET.from_date }}">
        </div>
        <div>
            <label for="id_to_date">Fecha Hasta:</label>
            <input type="date" name="to_date" id="id_to_date" value="{{ request.GET.to_date }}">
        </div>
         <div>
            {% with dont_filter=request.GET.all %}
                <label>
                    No Filtrar
                    <input type="checkbox" name="all"
                           value="True" {% if dont_filter == "True" %}checked="checked"{% endif %}>
                </label>
            {% endwith %}
        </div>
        <button class="primary" type="submit" style="position: absolute">Filtrar</button>
    </form>

    {% if draft_cash_flows %}
        <table class="centered">
            <tr>
                <th class="th">Fecha</th>
                <th class="th">Número</th>
                <th class="th">Tipo</th>
                <th class="th">Moneda</th>
                <th class="th">Cantidad</th>
                <th class="th">Acciones</th>
            </tr>
            <form action="" method="POST">
                {% csrf_token %}
                <div style="text-align: center">
                    <button class="primary" type="submit">Agregar Todas</button>
                </div>
            </form>
            {% for cash_flow in draft_cash_flows %}
                <tr>
                    <td class="td">{{ cash_flow.date_string }}</td>
                    <td class="td">{{ cash_flow.number }}</td>
                    <td class="td">{{ cash_flow.type }}</td>
                    <td class="td">{{ cash_flow.financial_instrument_code }}</td>
                    <td class="num">{{ cash_flow.security_quantity }}</td>
                    <td class="td">
                        <form target="_blank" method="POST"
                              action="{% url 'my-portfolio:'|add:cash_flow.operation_class.class_name|add:'_create' %}">
                            {% csrf_token %}
                            <input type="hidden" name="send" value="true"/>
                            {{ cash_flow.as_hidden }}
                            <a onclick="this.parentNode.submit();">Crear</a>
                        </form>
                        <form method="POST"
                              action="{% url 'my-portfolio:'|add:cash_flow.operation_class.class_name|add:'_create' %}">
                            {% csrf_token %}
                            {{ cash_flow.as_hidden }}
                            <a onclick="this.parentNode.submit();">Modificar</a>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}