<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Importar Operaciones</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'my_portfolio/style.css' %}">
</head>
<body>
{% if draft_operations %}
    <table class="centered">
        <tr>
            <th class="th">Fecha</th>
            <th class="th">Tipo</th>
            <th class="th">Espece</th>
            <th class="th">Cantidad</th>
            <th class="th">Precio</th>
            <th class="th">Monto</th>
        </tr>
        {% for operation in draft_operations %}
            <tr>
                <td class="td">{{ operation.date_string }}</td>
                <td class="td">{{ operation.type }}</td>
                <td class="td">{{ operation.financial_instrument_code }}</td>
                <td class="num">{{ operation.quantity }}</td>
                <td class="num">{{ operation.price }}</td>
                <td class="num">{{ operation.gross_payment }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No hay operaciones para importar</p>
{% endif %}
</body>
</html>