<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mi Portfolio</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'my_portfolio/style.css' %}">
</head>
<body>
{% if investment_performance_list %}
    <table class="centered">
        <tr>
            <th class="th">Especie</th>
            <th class="th">Posición</th>
            <th class="th">Precio Prom. Cmpra.</th>
            <th class="th">Precio Actual</th>
            <th class="th">Res. por Tenencia</th>
            <th class="th">Res. por Cobros</th>
            <th class="th">Res. por Ventas</th>
            <th class="th">Res. por Comisiones</th>
            <th class="th">Res. Total</th>
        </tr>
        {% for performance in investment_performance_list %}
            <tr>
                <td class="td">{{ performance.financial_instrument.code }}</td>
                <td class="num">{{ performance.current_position }}</td>
                <td class="num">{{ performance.average_price }}</td>
                <td class="num">{{ performance.current_price }}</td>
                <td class="num">{{ performance.price_difference_result }}</td>
                <td class="num">{{ performance.payments_result }}</td>
                <td class="num">{{ performance.sales_result }}</td>
                <td class="num">{{ performance.commissions_result }}</td>
                <td class="num-bold">{{ performance.total }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>¡No hay movimientos en la cartera!.</p>
{% endif %}
</body>
</html>