{% extends "my_portfolio/base.html" %}

{% block title %}Cuentas{% endblock %}

{% block content %}
    <form name="type_form" action="{{ STATIC_URL }}">
        <label for="id_type">Tipo</label>
        {% with type=request.GET.type %}
            <select name="type" id="id_type" onchange="type_form.submit();">
                <option value="">Todos</option>
                {% for selectable_type in types %}
                    <option {% if selectable_type == type %}selected{% endif %}>{{ selectable_type }}</option>
                {% endfor %}
            </select>
        {% endwith %}
    </form>

    {% if investment_account_list %}
        <table class="centered">
            <tr>
                <th class="th">Descripción</th>
                <th class="th">Tipo</th>
                <th class="th">Subcuentas</th>
                <th class="th">Acciones</th>
                <th class="th">sudo</th>
            </tr>
            {% for investment_account in investment_account_list %}
                <tr>
                    <td class="td">
                        <a href="{% url 'my-portfolio:'|add:investment_account.class_name|add:'_detail' investment_account.id %}">
                            {{ investment_account.description }}
                        </a>
                    </td>
                    <td class="td">{{ investment_account.class_name }}</td>
                    <td class="td">{{ investment_account.accounts }}</td>
                    <td class="td">
                        <div>
                            <a href="{% url 'my-portfolio:'|add:investment_account.class_name|add:'_update' investment_account.id %}">
                                Edit
                            </a>
                            <a href="{% url 'my-portfolio:'|add:investment_account.class_name|add:'_delete' investment_account.id %}">
                                Delete
                            </a>
                        </div>
                    </td>
                    <td class="td">
                        <div>
                            <a href="{% url 'my-portfolio:clear_transactions' investment_account.pk %}">
                                Borrar Operaciones
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No investment accounts are available.</p>
    {% endif %}
{% endblock %}