{% extends "my_portfolio/base.html" %}

{% block title %}Operaciones de {{ account.description }}{% endblock %}

{% block content %}
    {% if transaction_list %}
        <form name="type_form" action="{{ STATIC_URL }}">
            <label for="id_type">Tipo</label>
            {% with type=request.GET.type %}
                <select name="type" id="id_type" onchange="type_form.submit();">
                    <option value="">Todos</option>
                    {% for selectable_type in types %}
                        <option {% if selectable_type == type %}selected{% endif %}>{{ selectable_type }}</option>
                    {% endfor %}
                </select>
            {% endwith %}
        </form>

        <table class="centered">
            <tr>
                <th class="th">Fecha</th>
                <th class="th">Cuenta</th>
                <th class="th">Broker</th>
                <th class="th">Especie</th>
                <th class="th">Especie Referencia</th>
                <th class="th">Tipo</th>
                <th class="th">Cantidad</th>
                <th class="th">Precio</th>
                <th class="th">Bruto</th>
                <th class="th">Comisión $</th>
                <th class="th">Comisión USD</th>
                <th class="th">Total</th>
                <th class="th">Acciones</th>
            </tr>
            {% for transaction in transaction_list %}
                <tr>
                    <td class="td">{{ transaction.date|date:"d/m/Y" }}</td>
                    <td class="td">{{ transaction.account.description }}</td>
                    <td class="td">{{ transaction.broker }}</td>
                    <td class="td">{{ transaction.financial_instrument.code }}</td>
                    <td class="td">{{ transaction.referenced_financial_instrument.code }}</td>
                    <td class="td">{{ transaction.type }}</td>
                    <td class="num">{{ transaction.security_quantity }}</td>
                    <td class="num">{{ transaction.price }}</td>
                    <td class="num">{{ transaction.gross_payment }}</td>
                    <td class="num">{{ transaction.ars_commissions }}</td>
                    <td class="num">{{ transaction.usd_commissions }}</td>
                    <td class="num">{{ transaction.monetary_movements }}</td>
                    <td class="td">
                        <div>
                            <a href="{% url 'my-portfolio:'|add:transaction.class_name|add:'_update' transaction.id %}">
                                Editar
                            </a>
                            <a href="{% url 'my-portfolio:'|add:transaction.class_name|add:'_delete' transaction.id %}">
                                Borrar
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No transactions are available.</p>
    {% endif %}
{% endblock %}
